__pycache__/
*.pyc
final_model/data_higgs/
final_model/data_quarkgluon/
final_model/results/**/ckpt/
final_model/*.hdf5
*.tar.xz
paper/*.aux
paper/*.log
paper/*.out
paper/*.toc
paper/*.bbl
paper/*.blg
paper/**/*.aux
paper/**/*.log
paper/**/*.out
paper/**/*.toc
paper/**/*.bbl
paper/**/*.blg
paper/**/_check_inlined.*
